.top-to-btm{
  position: relative;
}

.icon-position{
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 20;
}

.icon-style{
  background-color: #514ab0;
  border: 2px solid #fff;
  border-radius: 10px;
  height: 100px;
  width: 80px;
  color: white;
  cursor: pointer;
}

.icon-style:hover{
  animation: none;
  background: #9d00a8;
  color: #fff;
  border: 2px solid rgb(4, 52, 71);
}