.cardColorBox{
  background-color: #9d00a8;
  height: 8rem;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto 1em auto;
  color: #fff;
  align-items: center;
}

.card :hover{
  cursor: pointer;
}