.topnav {
  overflow: hidden;
  background-color: #514ab0;
  position: sticky;
  top: 80px;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


.topnav a.active{
  background-color: #7725AC;
}

.topnav a:hover {
  color: #212121;
  background-color: whitesmoke;
}