.reloadButton-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.gamecard-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;
  justify-content: center;
  width: 90%;
  gap: 30px;
  padding-bottom: 30px;
}

.gamecard-container Gamecard {
  flex: 1 0 calc(25%-10px);
}

.loading, .error {
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 19px;
}