.infoBoxInner{
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  margin: 10% 10% auto;
  width: 80%;
  border-radius: 5%;
  border: solid #9d00a8;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.infoIcon{
  margin-left: 145px;
  font-size: 25px;
  padding: 10px;
  color: #514ab0;
}

.infoIcon :hover{
  cursor: pointer;
  color: #9d00a8;
}